.idea/
data/typesense-data/db/*
data/typesense-data/meta/*
data/typesense-data/state/log/*
data/typesense-data/state/snapshot/*
data/typesense-data/state/meta/*
.env
.env.local
venv/
data/*

.DS_Store
.AppleDouble
.LSOverride
app/routers/__pycache__/
app/__pycache__/
app/utils/__pycache__/

github_diffs/
grafana_images/

venv/*